.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
}

.App-link {
  color: #61dafb;
}

.e-kanban .e-kanban-table {
  padding-left: 20px;
  margin-bottom: 20px;
}

.e-card .e-card-header .e-card-header-caption .e-card-sub-title  {
  font-size: 20px;
  font-variant: all-petite-caps;
}

.e-card .e-card-header .e-card-header-caption .e-card-header-title  {
  font-size: large;
  font-style: normal;
  color: rgb(204, 152, 40);
}

.e-card .e-card-header {
  font-style: italic;
  font-family: cursive;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
